<!doctype html>
<html>
  <head>
    <title>Battleships</title>
    <link rel="stylesheet" type="text/css" href="css/mainsheet.css"/> 
    <script src="js/test.js"></script>
  </head>
  <body>
    <header>
      <a class="headerbutton" href="/">
        Home
      </a>
      <div class="heading">
        Battleships
      </div>
      <a class="headerbutton">
        Log in
      </a>
    </header>
    <main>

    </main>
  </body>
</html>