<!doctype html>
<html>
  <head>
    <title>Battleships</title>
    <link rel="stylesheet" type="text/css" href="mainsheet.css"/> 
  </head>
  <body>
    <header>
      <div class="headerbutton">
        123
      </div>
      <div class="heading">
        456
      </div>
      <div class="headerbutton">
        789
      </div>
    </header>
    <main>

    </main>
  </body>
</html>