<!doctype html>
<html>
  <head>
    <title>Battleships</title>
    <link rel="stylesheet" type="text/css" href="css/mainsheet.css"/> 
    {{{_sections.css}}}
  </head>
  <body>
    <header>
      <a class="headerbutton" href="/">
        Home
      </a>
      <div class="heading">
        Battleships
      </div>
      <a class="headerbutton" href="/signin">
        Sign in
      </a>
    </header>
    {{{body}}}
    {{{_sections.scripts}}}
  </body>
</html>
