{{#section 'css'}}
	<link rel="stylesheet" href="css/game.css">
{{/section}}
<p id="gamemessage">Waiting for other player...</p>
<main id="container">

</main>
{{#section 'scripts'}}
	<script src="js/gameclient.js"></script>
{{/section}}