{{#section 'css'}}
	<link rel="stylesheet" href="css/home.css">
{{/section}}
<p id="message">Hello, {{user}}{{message}}</p>
<main>
	<a href="/game" class="normalbutton">Join game</a>
</main>
{{#section 'scripts'}}
{{/section}}