{{#section 'css'}}
    <link rel="stylesheet" href="css/signin.css">
{{/section}}

<form action="/signup" method="post">
  <ul>
    <li>
      <label for="name">Username:</label>
      <input type="text" id="name" name="username" />
    </li>
    <li>
      <label for="pwd">Password:</label>
      <input type="password" id="pwd" name="password" />
    </li>
    <li>
      <label for="pwd">Confirm password:</label>
      <input type="password" id="pwd" name="repeatedpassword" />
    </li>
    {{#if formmessage}}
    <li id="message">
      {{formmessage}}
    </li>
    {{/if}}
    <li>    
        <button type="submit" class="normalbutton">Sign up</button>
    </li>
  </ul>
</form>
